* *::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-color: #b0b0ee;

    .calculator {
        width: 320px;
        height: 510px;
        margin: 70px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #404040ba;

        h1 {
            margin-top: 0;
            text-align: center;
            color: #f6f6f6;
        }
    }

    .history {
        height: 100px;
        width: 290px;
        padding: 15px;
        font-size: 16px;
        border-radius: 4px;
        overflow-y: auto;
        scroll-behavior: smooth;
        color: #ffffff;
        background-color: #4241419c;

        .history-item {
            margin: 0 -15px;
            padding: 5px 15px;
            border-bottom: 1px solid #00000042;

            &:hover {
                background-color: #7070705e;
            }
        }
    }

    .display {
        padding: 15px;
        font-size: 20px;
        text-align: left;
        margin-bottom: 20px;
        color: #ffffff;
        background: #2d2c2cdb;
    }

    .button-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;

        .calcBtn {
            height: 35px;
            width: 100%;
            padding: 5px;
            font-size: 19px;
            border-radius: 4px;
            border: 1px solid #c7c7c7;
        }

        .equals {
            grid-column: 4 / span 2;
            background-color: #8a2be2;
            border: 1px solid #7c7c7c;

            &:hover {
                background-color: #7a1fd1;
            }
        }
    }
}